<!-- Describe task in general -->

<p><i>也许是密码？也许吧，但我们还不能确定。</i></p>

<p><i>也许你可以称之为<a target="_blank" href="https://en.wikipedia.org/wiki/String_operations#String_homomorphism">"homomorphism"</a>?真希望我以前就知道这个词。</i></p>

<p>您需要检查字符串A与字符串B是否等距。有一个函数可以将A中的字符转换成B中相同位置的字符。</p>

<p>A中的字符对应于B中的唯一字符值，B中的字符允许对应于A中的多个字符值。</p>

<div class="for_info_only" style="text-align: center">
    <img src="{{MEDIA}}example.png" style="max-height: 350px">
</div>

<p>
   <strong>输入</strong>两个字符串 <span>(str{% if is_js %}ing{% endif %})</span>.
</p>

<p>
   <strong>输出</strong>逻辑值 <span>(bool{% if is_js %}ean{% endif %})</span>.
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>示例：</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p>
    <strong>前提条件：</strong><br>
    <ul>
    <li>两个字符串的长度相同。</li>
    </ul>
</p>

