<!-- Describe task in general -->

<p><i>Може це шифр? Можливо, але ми не знаємо напевно.</i></p>

<p><i>Може це можна назвати <a target="_blank" href="https://en.wikipedia.org/wiki/String_operations#String_homomorphism">"homomorphism"</a>? Шкода, що я не знав цього слова раніше.</i></p>

<p>Вам потрібно перевірити, що рядок A ізометричний рядку B. Існує функція, яка перетворює символи з A у символи у тому ж місці в B.</p>

<p>Символи в A відповідають унікальному значенню символу в B. Символи в B можуть відповідати декільком значенням символів в A.</p>

<div class="for_info_only" style="text-align: center">
    <img src="{{MEDIA}}example.png" style="max-height: 350px">
</div>

<p>
   <strong>Вхідні дані:</strong> Два рядки <span>(str{% if is_js %}ing{% endif %})</span>.
</p>

<p>
   <strong>Вихідні дані:</strong> Логічне значення <span>(bool{% if is_js %}ean{% endif %})</span>.
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Приклади:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p>
    <strong>Умова:</strong><br>
    <ul>
    <li>обидва рядки мають однакову довжину.</li>
    </ul>
</p>

