<!-- Describe task in general -->

<p><i>Peut-être s'agit-il d'un cryptogramme? Peut-être, mais nous n'en sommes pas sûrs.</i></p>

<p><i>Peut-être pouvez-vous l'appeler <a target="_blank" href="https://en.wikipedia.org/wiki/String_operations#String_homomorphism">"homomorphism"</a>? J'aurais aimé connaître ce mot avant.</i></p>

<p>Vous devez vérifier que la chaîne A est isométrique par rapport à la chaîne B. Il existe une fonction qui transforme les caractères de A en caractères au même endroit dans B.</p>

<p>Les caractères de A correspondent à une valeur de caractère unique dans B. Les caractères de B peuvent correspondre à plusieurs valeurs de caractères dans A.</p>

<div class="for_info_only" style="text-align: center">
    <img src="{{MEDIA}}example.png" style="max-height: 350px">
</div>

<p>
   <strong>Entrée:</strong> Deux chaînes de caractères <span>(str{% if is_js %}ing{% endif %})</span>.
</p>

<p>
   <strong>Sortie:</strong> Valeur logique <span>(bool{% if is_js %}ean{% endif %})</span>.
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Exemples:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p>
    <strong>Condition préalable:</strong><br>
    <ul>
    <li>les deux chaînes ont la même longueur.</li>
    </ul>
</p>

