<!-- Describe task in general -->

<p><i>Vielleicht ist es eine Chiffre? Vielleicht, aber wir wissen es nicht mit Sicherheit.</i></p>

<p><i>Vielleicht können Sie es <a target="_blank" href="https://en.wikipedia.org/wiki/String_operations#String_homomorphism">"homomorphism"</a> nennen? Ich wünschte, ich hätte dieses Wort schon gekannt.</i></p>

<p>Sie müssen prüfen, ob die Zeichenkette A isometrisch zur Zeichenkette B ist. Es gibt eine Funktion, die Zeichen aus A in Zeichen an der gleichen Stelle in B umwandelt.</p>

<p>Die Zeichen in A entsprechen einem eindeutigen Zeichenwert in B. Die Zeichen in B dürfen mehreren Zeichenwerten in A entsprechen.</p>

<div class="for_info_only" style="text-align: center">
    <img src="{{MEDIA}}example.png" style="max-height: 350px">
</div>

<p>
   <strong>Eingabe:</strong> Zwei Zeichenketten <span>(str{% if is_js %}ing{% endif %})</span>.
</p>

<p>
   <strong>Ausgabe:</strong> Logischer Wert <span>(bool{% if is_js %}ean{% endif %})</span>.
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Beispiele:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p>
    <strong>Vorbedingung:</strong><br>
    <ul>
    <li>beide Strings haben die gleiche Länge.</li>
    </ul>
</p>

