<!-- Describe task in general -->

<p><i>Może to szyfr? Być może, ale nie wiemy tego na pewno.</i></p>

<p><i>Może proszę to nazwać <a target="_blank" href="https://en.wikipedia.org/wiki/String_operations#String_homomorphism">"homomorphism"</a>? Szkoda, że wcześniej nie znałem tego słowa.</i></p>

<p>Musi Pan sprawdzić, czy ciąg A jest izometryczny do ciągu B. Istnieje funkcja, która zamienia znaki z A na znaki w tym samym miejscu w B.</p>

<p>Znaki w A odpowiadają unikalnym wartościom znaków w B. Znaki w B mogą odpowiadać wielu wartościom znaków w A.</p>

<div class="for_info_only" style="text-align: center">
    <img src="{{MEDIA}}example.png" style="max-height: 350px">
</div>

<p>
   <strong>Dane wejściowe:</strong> Dwa ciągi znaków <span>(str{% if is_js %}ing{% endif %})</span>.
</p>

<p>
   <strong>Wyjście:</strong> Wartość logiczna <span>(bool{% if is_js %}ean{% endif %})</span>.
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Przykłady:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p>
    <strong>Warunek wstępny:</strong><br>
    <ul>
    <li>oba ciągi mają taką samą długość.</li>
    </ul>
</p>

